.cell {
    user-select: none;
}
.cell-open {
    background-color: #9d9dfe;
}
.cell-not-open {
    background-color: #0000ff;
    cursor: pointer;

}
.cell-not-open:hover {
    background-color: #3d3dff;
}